@import '../../general_style/general_style.scss';
@import '../../general_style/toNull.scss';

.footer{
    font-size: 1.5rem;
    background: rgb(220, 226, 232);
    .footer__top, .footer__middle{
        @include flexBox(row, flex-start, space-between, wrap);
        padding: 20px 20% 20px 10px;
        h3 {
            margin-bottom: 20px;
            font-weight: 700;
        }
        li {
            margin-bottom: 10px;
        }
    }
    .footer__bottom{
        text-align: center;
    }
}
