.red {
    background: red;
}

.green {
    background: #008000;
}
.blue {
    background: blue;
}

.block {
    width: 100px;
    height: 100px;
}

.clearfix {
    clear: both;
}

.container {
    display: flex;
    flex-direction: row;
    border: 1px dashed black;
    justify-content: space-between;
    padding: 10px;
}