//Imports
@import '../../general_style/general_style.scss';
// Main Component
.main-component{
    min-height: 75vh;
    background: url('https://assets3.insales.ru/assets/1/1090/1483842/1608218146/index-promo-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .links{
        width: 40%;
        @include flexBox(center, space-between, nowrap);
        position: absolute;
        bottom: 50px;
        right: 35%;

        .link{
        height: 5rem;
        width: 20rem;
        background: #252628;
        border-radius: 10px;
        padding: 1rem;
        text-align: center;
        @include flexBox(center, center, nowrap);
        cursor: pointer;
        &:hover{
            background: orange;
        }
        a{ 
            font-size: 1.5rem;
        }
        }
    }
}

// Benefits Component

.benefits{
    background: #eff4f9;
    padding: 10px 10px;
}

.benefits__wrapper{
    width: 70%;
    margin: 0 auto;
    @include flexBox(center, space-between, nowrap);
    img{
        padding: 0 1rem;
    }
    .benefits__delivery,
    .benefits__brands{
        width:50%;
        @include flexBox(center, center, nowrap);
    }
}