p, input{
    margin: 0;
    padding: 0;
}

.Header {
    width: 100%;
    background:black;
    height:10vh;
    color: white;

}

.Header > div {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
}


.SearchForm{
    position: absolute;
    top: 50px;
    right: 100px;
    display: none;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 250px;
    background: rgb(228, 135, 28);
    transition: display 2s ease-in;
    border-radius: 5px;
}
.SearchForm form{
    color: white;
    display: flex;
    flex-direction: column;
}

.SearchForm form input{
    margin: 10px 0 ;
}

.SearchForm button {
    width: 100%;
    text-align: center;
    color: rgb(228, 135, 28);
}


.SearchBtn button:hover{
    background: rgb(228, 135, 28);
    color: white;
    cursor: pointer;
}

.SearchBtn button:focus{
    outline: none;
}

.Title {
    display: flex;
    align-items: center;
}

.Title span{
    margin-right: 10px;
}

.Title span:nth-child(2){
    font-size: 20px;
}

.Title i{
    font-size: 30px;
    color: rgb(228, 135, 28);
}

#icon {
    height: 50px;
    width: 50px;
}