body {
    background-image: url('background-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    color: blue;
    border: 2px solid rgb(21, 218, 70);
    padding: 30px;
    margin: 50px
}
p {
    color: red;
}
a:link, a:visited{
    color: green;
    background-color: transparent;
    text-decoration: none;
    padding: 15px 25px;
    display: inline-block;
    text-align: center; 
}

a:hover {
    color:red;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

table {
    border-spacing: 5px;
}

#t01 {
    width: 100%;
    background-color: yellowgreen;
}

#t01 tr:nth-child(even) {
    background-color: #eee;
}

#t01 tr:nth-child(odd) {
    background-color: #fff;
}

#t01 th{
    color: rgb(7, 4, 4);
    background-color: black;
}