//Imports
@import '_mixin';

// Variables
$linear-gradient : linear-gradient(rgba(0, 0, 0, 0.5), transparent);

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2rem;
}

li, button, label, input, p {
    font-size: 2rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
    font-weight: normal;
}

h4,
h5 {
    font-size: 2.8rem;
}

a{
    color: white;
    text-decoration: none;
}

button {
    padding: 2rem 6rem;
    background: #4c6e97;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover{
        background:#1a2533;
    }
}

.main-head {
    background: #131c27;
    color: white;
    position: sticky;
    top: 0px;
    z-index: 3;
}

nav{
    @include flex-container(row, space-around, center);
    width: 90%;
    margin: auto;
    padding: 2rem;
    min-height: 10vm;
    flex-wrap: wrap;

    ul {
        @include flex-container(row, space-around, center);
        flex: 1 1 40rem;
        list-style: none;
    }

    #logo {
        flex: 2 1 40rem;
        font-family: 'Pattaya', sans-serif;;
        font-weight: normal;
        font-size: 3rem;
    }
}

.hero {
    min-height: 90vh;
    background: $linear-gradient,url('../img/hero-background.jpg');
    @include img-center-cover-norepeat;
    @include flex-container(column, center, center);
    color: white;
    text-align: center;

    h3{
        padding: 5rem;
    }
}

#locations {
    min-height: 90vh;
    background: $linear-gradient, url('../img/new-york-page.png');
    @include img-center-cover-norepeat;
    align-items: center;
    position: relative;
    overflow: hidden;

    .locations-head {
        width: 90%;
        margin: 0 auto;
        color: rgb(34, 32, 32);

        h2 {
            padding: 1rem 0rem;
            text-decoration: underline;
            text-decoration-thickness: 0.5rem;
        }

        h3 {
            padding: 4rem 0rem;
            /* background: linear-gradient(#131c27, #663b34);
            background-clip: text;
            -webkit-text-fill-color: transparent; */
        }

        .cloud{
            position: absolute;
            top: 0%;
            right: 0%;
            width: 80rem;
            pointer-events: none;
        }
        .moving-cloud-1 {
            animation: cloudAnimation 3s infinite alternate ease-in-out;
        }
        .moving-cloud-2 {
            top: 10%;
            z-index: -1;
            opacity: 0.5;
            animation: cloudAnimation 3.5s infinite alternate ease-in-out;
        }
    }
}

@keyframes cloudAnimation {
    from{  
        transform: translate(10%, -10%);
    }
    to{
        transform: translate(0%, 0%);
    }
}

/* Benefits Section */

.benefits-head {
    @include flex-container(column, center, center);
    background: #343c44;
    padding: 3rem;
    min-height: 30vh;
    color: white;

    h3 {
        padding: 1rem;
    }
}

.cards {
    @include flex-container(row, space-around, center);
    width: 90%;
    margin: auto;
    min-height: 70vh;
    flex-wrap: wrap;

    img {
        max-width: 15%;
        margin: 2rem;
    }
}

.card {
    text-align: center;
    flex: 1 1 25rem;
    min-height: 40vh;
    margin: 2rem 5rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.1);
    
    .card-icon {
        background: #1a2533;
    }

    h4, p {
        padding: 1rem;
    line-height: 1.8;
    }
}

/* Contact From */

#contact {
    min-height: 100vh;
    background: $linear-gradient, url('../img/contact-mountain.png');
    @include img-center-cover-norepeat;
    @include flex-container(row, center, center);
}

.form-wrapper {
    background: rgba(19, 28, 39, 0.7);
    width: 60%;
    color: white;
    border-radius: 20px;

    label {
        margin: 0rem 3rem;
    }

    button {
        width: 100%;
        padding: 2rem;
        margin-top: 8rem;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    input {
        padding: 1rem 3rem;
    }
}

.form-head {
    text-align: center;
    padding: 4rem;
}

.name-form,
.email-form {
    padding: 3rem;
    text-align: center;
}

footer {
    color:white;
    background: #1a2533;

    h5 {
        flex: 1 1 40rem;
    }

    ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        flex: 1 1 40rem;
        align-items: center;
    }
}

.footer-wrapper {
    @include flex-container(row, space-around, center);
    padding: 2rem;
    min-height: 10vh;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

/* Media Query */
@media screen and (max-width: 932px) {
    html {
        font-size: 45%;
    }
    nav{
        text-align: center;
    }
    #logo {
        padding: 2rem;
    }
    .moving-cloud-1{
        z-index: -1;
    }
    .moving-cloud-2{
        z-index: -2;
    }
    .locations-head h3 {
        color: white;
        background: rgba(19,28,39,0.7);
    }
    .form-wrapper {
        width: 100%;
    }
    footer{
        text-align: center;

        h5 {
            padding-bottom: 3rem;
        }
    }
}
