.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    align-items: center;
}

.grid-item1 {
    color: white;
    background: blue;
    align-self: start;
    justify-self: center;
    border: 1px solid black;
}

.grid_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2vw;
}

.grid_1 div {
    font-size: 5vw;
    padding: .5em;
    background: gold;
    text-align: center;
}